* {
    font-family: "inter", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: white;
}

header {
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 20px;
    position: relative;
    align-items: center;
}

.wrapper {
    justify-self: end;
    display: flex;
    gap: 15px;
}

.logo {
    position: absolute;
    left: 20px;
    width: 80px;
}